doctype html
html
    head
        style
            include styles.css
    body
        h1(class='header') Poll-app!
        p Dear user! The poll was shared with you.
        p You can use this link to participate in the poll.
        h2(class='link') Your poll link - #{link}
        p #{additionalText}
