doctype html
html
    head
        style
            include styles.css
    body
        h1(class='header') Welcome to Poll-app!
        p Dear user! Thanks you for registering on Poll-app.
        p To activate your account you should go to registration link.
        h2(class='link') Your registration link - #{link}
        p #{additionalText}
