doctype html
html
    head
        style
            include styles.css
    body
        h1(class='header') Welcome to Poll-app!
        p Dear user! Maybe you request to reset your password.
        p To reset password of your account you should go to reset link.
        h2(class='link') Your reset link - #{link}
        p #{additionalText}
